@font-face {
    font-family: 'Neue Montreal';
    src: url('./fonts/PPNeueMontreal-Book.woff2') format('woff2'),
        url('./fonts/PPNeueMontreal-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Moglan';
    src: url('./fonts/Moglan.woff2') format('woff2'),
        url('./fonts/Moglan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}